{{- if eq .Values.external.enabled true }}
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: {{ .Release.Name }}-external-secret
spec:
  encryptedData:
    databaseUsername: {{ .Values.external.encryptedDbUsername }}
    databasePassword: {{ .Values.external.encryptedDbPassword }}
    mqttUsername: {{ .Values.external.encryptedMqttUsername }}
    mqttPassword: {{ .Values.external.encryptedMqttPassword }}
    dashboardUsername: {{ .Values.external.encryptedDashboardUsername }}
    dashboardPassword: {{ .Values.external.encryptedDashboardPassword }}
  template:
    metadata:
      name: {{ .Release.Name }}-external-secret
    type: Opaque
{{- end }}