{{- if eq .Values.emqx.internal.enabled true }}
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: {{ .Release.Name }}-emqx-internal-secret
spec:
  encryptedData:
    databaseUsername: {{ .Values.emqx.internal.db.encryptedUsername }}
    databasePassword: {{ .Values.emqx.internal.db.encryptedPassword }}
    mqttUsername: {{ .Values.emqx.internal.mqtt.encryptedUsername }}
    mqttPassword: {{ .Values.emqx.internal.mqtt.encryptedPassword }}
    dashboardUsername: {{ .Values.emqx.internal.dashboard.encryptedUsername }}
    dashboardPassword: {{ .Values.emqx.internal.dashboard.encryptedPassword }}
  template:
    metadata:
      name: {{ .Release.Name }}-emqx-internal-secret
    type: Opaque
{{- end }}