apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-timescaledb-configmap
  {{- include "eclipse-backend.timescaledb.labels" . | indent 2 }}
data:
  init.sql: |
    CREATE USER emqx WITH PASSWORD 'REPLACED_BY_ENV';

  replace-password-with-env.sh: |
    #!/bin/sh
    set -e

    if [ -z "${ECLIPSE_MQTT_DB_PASSWORD}" ]; then
      echo "Error: ECLIPSE_MQTT_DB_PASSWORD environment variable is not set."
      exit 1
    fi

    PART_TO_REPLACE="REPLACED_BY_ENV"
    INIT_FILE="/tmp/init.sql"
    BOOTSTRAP_FILE="/tmp/adapted-init.sql"

    sed "s|${PART_TO_REPLACE}|${ECLIPSE_MQTT_DB_PASSWORD}|g" "${INIT_FILE}" > "${BOOTSTRAP_FILE}"
    psql -U "$POSTGRES_USER" -d "$POSTGRES_DB" -f ${BOOTSTRAP_FILE}
