apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ .Release.Name }}-role
  namespace: {{ .Values.aiidaServices.namespace }}
rules:
  - apiGroups: ["*"]
    resources: ["*"]
    verbs: ["*"]