{{- if eq .Values.emqx.external.enabled true }}
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: {{ .Release.Name }}-emqx-external-secret
spec:
  encryptedData:
    databaseUsername: {{ .Values.emqx.external.db.encryptedUsername }}
    databasePassword: {{ .Values.emqx.external.db.encryptedPassword }}
    mqttUsername: {{ .Values.emqx.external.mqtt.encryptedUsername }}
    mqttPassword: {{ .Values.emqx.external.mqtt.encryptedPassword }}
    dashboardUsername: {{ .Values.emqx.external.dashboard.encryptedUsername }}
    dashboardPassword: {{ .Values.emqx.external.dashboard.encryptedPassword }}
  template:
    metadata:
      name: {{ .Release.Name }}-emqx-external-secret
    type: Opaque
{{- end }}