{{- if eq .Values.internal.enabled true }}
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: {{ .Release.Name }}-internal-secret
spec:
  encryptedData:
    databaseUsername: {{ .Values.internal.encryptedDbUsername }}
    databasePassword: {{ .Values.internal.encryptedDbPassword }}
    mqttUsername: {{ .Values.internal.encryptedMqttUsername }}
    mqttPassword: {{ .Values.internal.encryptedMqttPassword }}
    dashboardUsername: {{ .Values.internal.encryptedDashboardUsername }}
    dashboardPassword: {{ .Values.internal.encryptedDashboardPassword }}
  template:
    metadata:
      name: {{ .Release.Name }}-internal-secret
    type: Opaque
{{- end }}